
    <form action="/add/event" method="POST">

        <input class="form-control"  id ="heading" type="text" name="heading" placeholder="enter event heading">
        
        <textarea class="form-control" id="description" name="description" placeholder="enter event description"></textarea>
        <input class="form-control" id="date" type="date" name="date">
        <button type="submit" class="btn btn-success submitEvent" value="submit">Send</button>
    </form>

    <script>
        var socket = io();
    
    </script>
