<div class="loader-wrapper">
  <div class="preloader" id="loader"></div>
</div>
<div class="page-content">
  <div id="main">
    <div class="main-panel">
      <div class="wrapper">
        <h1 class="page-title">Add Performance</h1>
        <div class="add-container wow fadeInUp">
          <form action="/mentor/addperformance" method="POST">
            <div class="form-group fields">
              <label class="form-label">Skills</label>
              <input
                type="text"
                id="skills"
                name="skills"
                class="form-control"
                placeholder="Enter skills"
                required
              />
            </div>
            <div class="form-group fields">
              <label class="form-label">Total Marks</label>
              <input
                type="text"
                id="totalmarks"
                name="totalmarks"
                class="form-control"
                placeholder="Enter total marks"
                required
              />
            </div>
            <div class="form-group fields">
              <label class="form-label">Obtained Marks</label>
              <input
                type="test"
                id="obtainedmarks"
                name="obtainedmarks"
                class="form-control"
                placeholder="Enter total marks"
                required
              />
            </div>
            <div class="form-group fields">
              <label class="form-label">Select Trainee</label>
              <div class="select-opt">
                <select
                  class="form-control"
                  id="Trainee"
                  name="trainee"
                  required
                >
                  <option value="" selected>select trainee</option>
                  <%trainees.forEach((trainee)=>{%>
                  <option value="<%=trainee.id%>"><%=trainee.name%></option>
                  <%})%>
                </select>
                <img
                  src="/images/select.png"
                  height="20"
                  width="20"
                  alt="Down arrow"
                  class="select-arrow"
                />
              </div>
            </div>
            <div class="form-group fields">
              <label class="form-label">Select Test</label>
              <div class="select-opt">
                <select class="form-control" id="Test" name="test" required>
                  <option value="" selected>select test</option>
                  <%tests.forEach((test)=>{%>
                  <option value="<%=test.id%>"><%=test.name%></option>
                  <%})%>
                </select>
                <img
                  src="/images/select.png"
                  height="20"
                  width="20"
                  alt="Down arrow"
                  class="select-arrow"
                />
              </div>
            </div>
            <button class="btn buttn" type="submit" id="addtestbtn">
              Add Performance
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-1.12.4.js"></script>
<script src="/js/canvasjs.min.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/sidebar.js"></script>
