
    <form action="/add/announcement" method="POST">

      <input class="form-control"  id ="heading" type="text" name="heading" placeholder="enter announcement heading">
      
      <textarea class="form-control" id="description" name="description" placeholder="enter announcement description"></textarea>
      <button type="submit" class="btn btn-success submitEvent" value="submit">Send</button>
  </form>

  <script>
      var socket = io();
     
  </script>
