<header class="nav-container">
  <div class="container-fluid">
    <div class="header">
      <span onclick="openNav()" id="collapse" class="bars-btn"
        ><i class="fa fa-bars icon"></i
      ></span>
      <a class="brand" href="/mentor/dashboard" title="Website name">Zapbuild HRM  </a>
    </div>
    <ul class="links">
      <li>
        <a href="javascript:void(0);" title="logout" class="white"
          ><span class="glyphicon glyphicon-log-out"></span> Logout</a>
      </li>
    </ul>
  </div>
</header>
