<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" />

        
<style>

    form{
        padding: 20px;
    }
    h1{
        text-align: center;
    }
    .card{
        background-color: aliceblue; 
    }
</style>
    </head>
    <body>
        <div class="container card mt-5">
           
            
            <form method="POST" action="/leave/add">
                <h1>Leave Portal</h1>
               
                
            
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="Start_date">Start_date:</label>
                    
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" name="start_date" id="start_date" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                            
                    </div>  
                <div class="form-group col-sm-6">
                    <label for="end_date">End_date:</label>
                   
                    <div class='input-group date' id='datetimepicker2'>
                        <input type='text' class="form-control" name="end_date" id="end_date" />
                        <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                      </div>
                </div>
            </div>
                <div class="form-group">
                    <label for="subject">Subject:</label>
                    <input type="text" class="form-control" name="subject" id="subject">
                    <span><% if(errors.hasOwnProperty('subject')){%>
                        <p class="alert text-danger"><%= errors.subject %></p>
                    <%}%></span>
                </div>
                <div class="form-group">
                    <label for="reason">Reason:</label>
                   
                    <textarea class="form-control" rows="4" id="reason"  name="reason"></textarea>
                </div>
                <span><% if(errors.hasOwnProperty('reason')){%>
                    <p class="alert text-danger"><%= errors.reason %></p>
                <%}%></span>
                <button type="submit" name="submitbtn" class="btn btn-info">Apply</button>
            </form>
        </div>
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/moment.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
                $('#datetimepicker2').datetimepicker();
            });
        </script>
        
    
        
    </body>
</html>