<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
  
    </head>
    <body>
        <div class="container">
<table id="example" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Start_date</th>
            <th>End_date</th>
            <th>Subject</th>
          
            
         
            
        </tr>
    </thead>
    <tbody>
      
        <% leaveRecords.forEach(function(leaveRecord) { %>
            <tr>  
                <td><%= moment(leaveRecord.start_date).format( 'MMM-DD-YYYY') %></td>  
                <td><%= moment(leaveRecord.end_date).format( 'MMM-DD-YYYY') %></td>
                <td><%= leaveRecord.subject %></td>  
               
                
            </tr>                                   
         <% }) %>
+
        
        </tbody>
        </table>
       
    </div>
        </body>
        </html>
        
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
        <script>$(document).ready(function() {
            $.noConflict();
            $('#example').DataTable();
        } );</script>
    
        