<div class="container">
    <form action="/add/mentor" method="POST">
        <h1>Signup Form</h1>
        <div class="form-group">
            <label for="name">name</label>
            <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp">
        </div>
        
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="phoneno">phoneno</label>
            <input type="text" name="phoneNo" class="form-control" id="name" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="Department">Department</label>
            <select id="department" name="department_id">
                <% departments.forEach((department)=>{ %>
                <option value="<%= department.id %>"> <%= department.name%> </option>
                <% })  %>
            </select>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>