<%-include('sidenav')%>
<div class="loader-wrapper">
  <div class="preloader" id="loader"></div>
</div>
<div class="page-content">
  <div id="main">
    <div class="main-panel">
      <div class="wrapper">
        <h1 class="page-title">Check Performance</h1>
        <div class="add-container wow fadeInUp">
          <form action="/mentor/calculateperformance" method="POST">
            <div class="form-group fields">
              <label class="form-label">Select Trainee</label>
              <div class="select-opt">
                <select class="form-control" id="Trainee" name="traineeId">
                  <option value="" selected>Select Trainee</option>
                  <%trainees.forEach((trainee)=>{%>
                  <option value="<%=trainee.id%>"><%=trainee.name%></option>
                  <%})%>
                </select>
                <img
                  src="/images/select.png"
                  height="20"
                  width="20"
                  alt="Down arrow"
                  class="select-arrow"
                />
              </div>
              <small></small>
            </div>
            <input type="hidden" name="mentorId" value="1" />
            <button class="btn buttn" type="submit" id="btn">Check</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/wow.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-1.12.4.js"></script>
<script src="/js/sidebar.js"></script>
<script>
  let btn = document.getElementById("btn");
  let select = document.getElementById("Trainee");
  btn.addEventListener("click", (e) => {
    if (select.value === "") {
      // alert("Please select an item from the list and then proceed!");
      setErrorFor(
        select,
        "Please select an item from the list and then proceed!"
      );
      e.preventDefault();
    }
  });
  select.addEventListener("change", (e) => {
    if (select.value !== "") {
      select.parentElement.style.border = "1px solid  #2ecc71";
      select.parentElement.parentElement.classList.remove("error");
    } else {
      select.parentElement.style.border = "";
    }
  });
  function setErrorFor(input, msg) {
    const formGroup = input.parentElement.parentElement;
    const small = formGroup.querySelector("small");
    small.innerText = msg;
    formGroup.className = "form-group error";
  }
</script>
