<div class="container">
  <form action="/mentor/sendMailToTrainees/1" method="POST">
    <div class="form-group">
      <label for="mailtext">Enter E-Mail:</label>
      <textarea
        class="form-control"
        id="mailtext"
        rows="3"
        name="mailtext"
        required
      ></textarea>
    </div>
    <button class="btn btn-primary" name="btn" type="submit">
      Send E-Mail
    </button>
  </form>
</div>
