<aside class="sidenav" id="mysidenav">
  <div class="overlay"></div>
  <a
    href="javascript:void(0)"
    title="Click to close"
    class="closebtn"
    onclick="closeNav()"
    >&times;</a
  >
  <div class="profile-photo">
    <img
      src="/images/profile.jpeg"
      width="216"
      height="233"
      alt="user's profile pic"
    />
  </div>
  <ul class="items">
    <li><a href="/mentor/getAddTest" title="Add Test">Add Test</a></li>
    <li>
      <!-- mentor id is not available so i put 1 as static value  but we can retreive when the mentor log-->
      <a href="/mentor/addPerformance/1" title="Add marks">Add marks</a>
    </li>
    <li>
      <a href="/mentor/sendemail" title="Send Email To All Trainees"
        >Send Email</a
      >
    </li>
    <li>
      <a href="/mentor/leaves/1" title="Trainee leaves">Trainee leaves</a>
    </li>
    <li>
      <a href="javascript:void(0)" title="Resolve Queries">Resolve Queries</a>
    </li>
    <li>
      <a href="/mentor/traineeTimelog/1" title="Trainees Timelog"
        >Trainees Timelog</a
      >
    </li>
    <li>
      <a href="/mentor/checkPerformance/1" title="Check performance"
        >Check performance</a
      >
    </li>
  </ul>
</aside>
