<div class="container">
    <div class="form-group">
<<<<<<< HEAD
        <form id='message-form'  >
=======
        <form id='message-form'  method="POST" action="/trainee/chat" >
>>>>>>> 498d1770293358d365d04af8d189a644bc161ca8
            <input name='message' id="message" type="text" placeholder="Message" autofocus autocomplete="off"/>
    </div>
    <button  class="btn btn-primary" onclick="sendDoubt()">
        Send
    </button>
    </form>
    
</div>
<script> 
    var socket = io();
    function sendDoubt(){
        let req = new XMLHttpRequest();
        let url ='/chat';
        let message = document.getElementById('message').value;
        let params = `message = ${message}`;
        req.open('POST',url,true);
        req.setRequestHeader('Content-type','application/x-www-form-urlencoded');
        req.onreadystatechange = function() {
            if(this.readyState == 4 && this.status == 200) {
                console.log("sent");
                alert(" Your query sent ");
            }
        }
        req.send(params);
        return true;
    }
</script>



