<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Trainee dashboard</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
      <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="css/style.css">
   </head>
   <body>
      <div class="loader-wrapper">
         <div class="preloader" id="loader"></div>
      </div>
      <div class="page-content">
         <div id="main">
            <header class="nav-container">
                  <div class="container-fluid">
                     <div class="header">
                        <span onclick="openNav()" id="collapse" class="bars-btn"><i class="fa fa-bars icon"></i></span>
                        <a class="brand" href="javascript:void(0);" title="Website name">Zapbuild HRM</a> 
                     </div>
                     <ul class="links">
                        <li><a href="javascript:void(0);" title="logout" class="white"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        <li class="bell dropdown">
                           <span class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><img src="images/notification.png" width="25" height="25" alt="bell-icon"><span class="badge">5</span></span>
                           <ul class="dropdown-menu">
                            <li><span class="glyphicon glyphicon-hand-right"></span>Test is on monday.<div class="notify-time">1.00 pm</div></li>
                            <li><span class="glyphicon glyphicon-hand-right"></span>Collect your nametags.<div class="notify-time">11.00 am</div></li>
                            <li><span class="glyphicon glyphicon-hand-right"></span>Today is a seminar at 4pm.<div class="notify-time">4.00 pm</div></li>
                            <li><span class="glyphicon glyphicon-hand-right"></span>Today is a seminar at 4pm.<div class="notify-time">6.00 pm</div></li>
                          </ul>
                        </li>
                     </ul>
                  </div>
            </header>
            <div class="main-panel">
               <div class="wrapper">
                    <h1 class="page-title">Dashboard</h1>
                  <div class="row">
                     <div class="col-md-8 col-sm-6">
                        <div class="column">
                           <div class="heading red">
                              <h2>My Questions and Queries</h2>
                           </div>
                           <div class="card-content">
                              <section class="queries">
                                 <h3 class="question"> What kind of development are you currently doing?</h3>
                                 <p class="answer">
                                    Candidates should showcase their understanding for how their role fits into the bigger picture and helps the company grow," Halpin said. "For example, if a candidate works at an e-commerce organization, they should understand how the application they work on allows orders to be processed and helps track customer information.
                                 </p>
                              </section>
                              <section class="queries">
                                 <h3 class="question"> What kind of development are you currently doing?</h3>
                                 <p class="answer">
                                    Candidates should showcase their understanding for how their role fits into the bigger picture and helps the company grow," Halpin said. "For example, if a candidate works at an e-commerce organization, they should understand how the application they work on allows orders to be processed and helps track customer information.
                                 </p>
                              </section>
                              <section class="queries">
                                 <h3 class="question"> What kind of development are you currently doing?</h3>
                                 <p class="answer">
                                    Candidates should showcase their understanding for how their role fits into the bigger picture and helps the company grow," Halpin said. "For example, if a candidate works at an e-commerce organization, they should understand how the application they work on allows orders to be processed and helps track customer information.
                                 </p>
                              </section>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4 col-sm-6">
                        <div class="column">
                           <div class="heading yellow">
                              <h2>Performance</h2>
                           </div>
                           <div class="card-content">
                              <div class="percentage">
                                 <svg class="svg">
                                    <circle cx="70" cy="70" r="70"></circle>
                                    <circle cx="70" cy="70" r="70" class="circle"></circle>
                                 </svg>
                                 <div class="number">
                                    <h3>75<span>%</span></h3>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-8 col-sm-6">
                        <div class="column">
                           <div class="heading green">
                              <h2>Announcements</h2>
                           </div>
                           <div class="card-content">
                              <section class="announcement">
                                 <h3 class="announcement-heading">Seminar on Cyber Security.</h3>
                                 <p class="announcement-data">
                                    Candidates should showcase their understanding for how their role fits into the bigger picture and helps the company grow," Halpin said. 
                                 </p>
                              </section>
                              <section class="announcement">
                                 <h3 class="announcement-heading">Today's boostup session is cancel.</h3>
                                 <p class="announcement-data">
                                    Candidates should showcase their understanding for how their role fits into the bigger picture and helps the company grow," Halpin said. 
                                 </p>
                              </section>
                              <section class="announcement">
                                 <h3 class="announcement-heading">Seminar on Cyber Security.</h3>
                                 <p class="announcement-data">
                                    Candidates should showcase their understanding for how their role fits into the bigger picture and helps the company grow," Halpin said. 
                                 </p>
                              </section>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4 col-sm-6">
                        <div class="column">
                           <div class="heading purple">
                              <h2>Upcoming events</h2>
                           </div>
                           <div class="card-content">
                              <section class="event">
                                 <h3 class="event-info">Celebrating Valentines day</h3>
                                 <p class="event-date"> Feb-14-2020</p>
                              </section>
                              <section class="event">
                                 <h3 class="event-info">Celebrating  Women's day</h3>
                                 <p class="event-date"> March-08-2020</p>
                              </section>
                              <section class="event">
                                 <h3 class="event-info">Celebrating holi</h3>
                                 <p class="event-date"> March-09-2020</p>
                              </section>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <aside class="sidenav" id="mysidenav">
            <div class="overlay"></div>
            <a href="javascript:void(0)" title="Click to close" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="profile-photo">
               <img src="images/profile.jpeg" width="216" height="233" alt="user's profile pic">
            </div>
            <ul class="items">
               <li><a href="javascript:void(0)" title="Add Timelog">Add Timelog</a></li>
               <li><a href="javascript:void(0)" title="Performance">Performance</a></li>
               <li><a href="javascript:void(0)" title="Syllabus">Syllabus</a></li>
               <li><a href="javascript:void(0)" title="Extra Skills">Extra Skills</a></li>
               <li><a href="javascript:void(0)" title="Leave">Leave</a></li>
               <li><a href="javascript:void(0)" title="Ask a question">Ask a question</a></li>
            </ul>
         </aside>
      </div>
      <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script>
         function openNav() {
            if($(window).width() <= 1200)
            {
            document.getElementById("mysidenav").style.width="230px";
            document.getElementById("main").style.marginLeft="0";
            document.getElementById("collapse").style.display ="none";
             }
             else{
             document.getElementById("mysidenav").style.width="230px";
            document.getElementById("main").style.marginLeft="230px";
            document.getElementById("collapse").style.display ="none";  
             }
         }
         function closeNav(){
            document.getElementById("mysidenav").style.width="0px";
            document.getElementById("main").style.marginLeft="0";
            document.getElementById("collapse").style.display="inline-block";
         }
         
         $(window).on("load",function(){
            $(".loader-wrapper").fadeOut("slow");
         });
      </script>
   </body>
</html>