<div class="container">
    <div class="form-group">
        <form onsubmit="return sendDoubt()" id='message-form'>

            <input class="form-control" id="topic" type="text" name="topic" placeholder="Enter Topic">
            <textarea class="form-control" id="question" name="question" placeholder="enter doubt"></textarea>
            <button type="submit" class="btn btn-success submitEvent" value="submit">Send</button>

        </form>
    </div>
</div>

<script>
    var socket = io();
    function sendDoubt() {
        let http = new XMLHttpRequest();
        let url = '/trainee/chat';
        let topic = document.getElementById('topic').value;
        let question = document.getElementById('question').value;
        let params = `topic = ${topic}&question=${question}`;
        http.open('POST', url, true);
        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        http.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                console.log("sent");
                alert(" Your query sent ");
            }
        }
        http.send(params);
        return true;
    }
</script>